.container {
  margin-top: 3rem;
}
.containerBox {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}
.containerBox h4 {
  margin-top: 0.8rem;
}
.containerBox p {
  margin-top: 1rem;
}

/* certficados box */
.containerCertificadosBox {
  width: 80vw;

  margin: 0 auto;
}
.callToAction {
  margin-top: 3rem;
  text-align: center;
}
.containerCertificadosBox {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.containerCertificadosBox div {
  padding: 0.2rem;
  width: 200px;
  height: 200px;

  cursor: pointer;
  transition: var(--transition-short);
}

.logoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerCertificadosBox div:hover {
  transform: scale(1.25);
}

/* certficados box */

/* colegios */
.containerLogoBox {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
.LogoCard {
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 5px rgb(126, 126, 126);
  background: white;
}
.containerSubtituloTitulo {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.logoColoegio {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.LogoCard button {
  background-color: var(--secondary-text-Color);
  letter-spacing: 1px;
  border: transparent;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: white;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: var(--transition-short);
}
.LogoCard button:hover {
  transform: scale(1.05);
}
.containerSubtituloTitulo p {
  font-size: 1.5rem;
}
/* colegios */
